@media screen and (max-width: 1895px){
    html {font-size:100%;}
}
@media screen and (max-width: 1894px){
    html {font-size:85%;}
    .bottom-nav {
        width: 1000px !important;
    }
    .menu-btn {
        width: 200px !important;
        height: 106px !important;
        padding: 55px 0 0px !important;
    }
    .menu-hover {
        width: 200px !important;
        height: 106px !important;
        background-size: 97% !important;
        line-height: 70px !important;
        left: -200px  !important;
    }
    .big-text-bg {
      font-size: 6.2rem  !important;
    }
    .bottom-nav li:nth-child(1):hover ~ .menu-hover {
        left: 0 !important;
    }
    .bottom-nav li:nth-child(2):hover ~ .menu-hover {
        left: 200px !important;
    }
    .bottom-nav li:nth-child(3):hover ~ .menu-hover {
        left: 400px !important;
    }
    .bottom-nav li:nth-child(4):hover ~ .menu-hover {
        left: 600px !important;
    }
    .bottom-nav li:nth-child(5):hover ~ .menu-hover {
        left: 800px !important;
    }

    .box-text {
        width: 330px !important;
        height: 300px !important;
    }
    .watch-link, .read-link, .order-link, .meet-link, .acquaint-link, .check-link, .join-link, .menu-link, .home-link{
        width: 89px !important;
        height: 68px !important;
        background-size: 100% !important;
    }
    .box-text .bottom-box h4 {
        line-height: 26px !important;
        margin-bottom: 15px !important;
        font-size: 29px !important;
    }

    .left-box ul {
        width: 84% !important;
    }
    .close-animatedModal {
        width: 150px !important;
        height: 150px !important;
        background-size: 100% !important;
    }
    .box-text2 {
        width: 270px !important;
        height: 425px !important;
    }
    .price {
        width: 87px !important;
        margin-right: 73px !important;
    }
    .quantity {
        width: 70px !important;
    }
    .first-box-ul li {
        font-size: 2rem !important;
    }
    .left-text-box div {
        font-size: 1.2rem !important;
        line-height: 21px !important;
    }
    .left-text-box h2 {
        font-size: 1.5rem !important;
    }
    .left-text-box {
        width: 78% !important;
    }
    .inside-item img, .inside-item2 img, .inside-item3 img {
        float: left !important;
        width: 12% !important;
    }
}
@media screen and (max-width: 1600px){
    html {font-size:75%;}
    .big-text h1 {
        line-height: 130px !important;
    }
    .bottom-nav {
        width: 1000px !important;
    }
    .menu-btn {
        width: 200px !important;
        height: 106px !important;
        padding: 55px 0 0px !important;
    }
    .menu-hover {
        width: 200px !important;
        height: 106px !important;
        background-size: 97% !important;
        line-height: 70px !important;
        left: -200px  !important;
    }
    .bottom-nav li:nth-child(1):hover ~ .menu-hover {
        left: 0 !important;
    }
    .bottom-nav li:nth-child(2):hover ~ .menu-hover {
        left: 200px !important;
    }
    .bottom-nav li:nth-child(3):hover ~ .menu-hover {
        left: 400px !important;
    }
    .bottom-nav li:nth-child(4):hover ~ .menu-hover {
        left: 600px !important;
    }
    .bottom-nav li:nth-child(5):hover ~ .menu-hover {
        left: 800px !important;
    }
    .big-text-bg {
        background: url("../img/big-text-bg.png")no-repeat !important;
        width: 600px !important;
        height: 162px !important;
        padding: 79px 0 !important;
        font-size: 5.2rem !important;
        color: white !important;
        text-align: center !important;
        background-size: 100% !important;
    }
    .one .close-animatedModal {
      top: -188px !important;
    }
    .box-text {
        width: 300px !important;
        height: 250px !important;
    }
    .watch-link, .read-link, .order-link, .meet-link, .acquaint-link, .check-link, .join-link, .menu-link, .home-link{
        width: 89px !important;
        height: 68px !important;
        background-size: 100% !important;
    }
    .box-text .bottom-box h4 {
        line-height: 24px !important;
        margin-bottom: 15px !important;
        font-size: 22px !important;
    }

    .left-box ul {
        width: 84% !important;
    }
    .close-animatedModal {
        width: 135px !important;
        height: 135px !important;
        background-size: 100% !important;
    }
    .box-text2 {
        width: 245px !important;
        height: 401px !important;
    }
    .price {
        width: 87px !important;
        margin-right: 68px !important;
    }
    .quantity {
        width: 70px !important;
    }
    .bottom-box .text-italic {
        font-size: 1.7rem !important;
        line-height: 26px !important;
        width: 190px !important;
    }
    .left-text-box div {
        font-size: 1.4rem !important;
    }
    .inside-item img, .inside-item2 img, .inside-item3 img {
        width: 15% !important;
    }
}
@media screen and (max-width: 1400px){
    html {font-size:60%;}
    .big-text h1 {
        line-height: 110px !important;
    }
    .bottom-nav {
        width: 765px !important;
    }
    .menu-btn {
        width: 153px !important;
        height: 86px !important;
        padding: 50px 0 0px !important;
    }
    .menu-hover {
        width: 153px !important;
        height: 86px !important;
        background-size: 97% !important;
        line-height: 70px !important;
        left: -153px  !important;
    }
    .bottom-nav li:nth-child(1):hover ~ .menu-hover {
        left: 0 !important;
    }
    .bottom-nav li:nth-child(2):hover ~ .menu-hover {
        left: 153px !important;
    }
    .bottom-nav li:nth-child(3):hover ~ .menu-hover {
        left: 306px !important;
    }
    .bottom-nav li:nth-child(4):hover ~ .menu-hover {
        left: 459px !important;
    }
    .bottom-nav li:nth-child(5):hover ~ .menu-hover {
        left: 612px !important;
    }
   .big-text-bg {
        background: url("../img/big-text-bg.png")no-repeat !important;
        width: 600px !important;
        height: 162px !important;
        padding: 79px 0 !important;
              font-size: 6.5rem !important;
        color: white !important;
        text-align: center !important;
        background-size: 100% !important;
    }
    .one .close-animatedModal {
      top: -188px !important;
    }
    .box-text {
        width: 225px !important;
        height: 230px !important;
    }
    .watch-link, .read-link, .order-link, .meet-link, .acquaint-link, .check-link, .join-link, .menu-link, .home-link{
        width: 70px !important;
        height: 55px !important;
        background-size: 100% !important;
    }
    .box-text .bottom-box h4 {
        line-height: 18px !important;
        margin-bottom: 14px !important;
        font-size: 19px !important;
    }

    .left-box ul {
        width: 84% !important;
    }
    .close-animatedModal {
        width: 135px !important;
        height: 135px !important;
        background-size: 100% !important;
    }
    .box-text2 {
        width: 200px !important;
        height: 355px !important;
    }
    .price {
        width: 58px !important;
        margin-right: 69px !important;
    }
    .quantity {
        width: 70px !important;
    }
    .bottom-box .text-italic {
        font-size: 1.6rem !important;
        line-height: 24px !important;
        width: 200px !important;
    }
    .inside-item img, .inside-item2 img, .inside-item3 img {
        width: 14% !important;
    }
    .left-text-box div {
        font-size: 1.3rem !important;
        line-height: 18px !important;
    }
    .left-text-box {
        width: 74% !important;
    }
    .order-bg {
        background-size: 90% !important;
    }
}
@media screen and (max-width: 1100px){
    html {font-size:53%;}
    .big-text h1 {
        line-height: 100px  !important;
    }
    .bottom-nav ul {
        width: 765px  !important;
    }
    .menu-btn {
        width: 153px  !important;
        height: 86px  !important;
        padding: 50px 0 0px  !important;
    }
    .menu-hover {
        width: 153px  !important;
        height: 86px  !important;
        background-size: 97%  !important;
        line-height: 70px  !important;
        left: -153px  !important;
    }
    .bottom-nav li:nth-child(1):hover ~ .menu-hover {
        left: 0 !important;
    }
    .bottom-nav li:nth-child(2):hover ~ .menu-hover {
        left: 153px !important;
    }
    .bottom-nav li:nth-child(3):hover ~ .menu-hover {
        left: 306px !important;
    }
    .bottom-nav li:nth-child(4):hover ~ .menu-hover {
        left: 459px !important;
    }
    .bottom-nav li:nth-child(5):hover ~ .menu-hover {
        left: 612px !important;
    }
    .big-text-bg {
background: url("../img/big-text-bg.png")no-repeat !important;
  width: 535px !important;
  height: 115px !important;
  padding: 79px 0 !important;
  font-size: 6.5rem !important;
  color: white !important;
  text-align: center !important;
  background-size: 100% !important;
    }
    .one .close-animatedModal {
  top: -175px !important;
    }

    .box-text {
        width: 200px !important;
        height: 210px !important;
    }
    .watch-link, .read-link, .order-link, .meet-link, .acquaint-link, .check-link, .join-link, .menu-link, .home-link{
        width: 70px !important;
        height: 56px !important;
        background-size: 100% !important;
    }
    .box-text .bottom-box h4 {
        line-height: 16px !important;
        margin-bottom: 14px !important;
        font-size: 12px !important;
    }

    .left-box ul {
        width: 84% !important;
    }
    .close-animatedModal {
        width: 135px !important;
        height: 135px !important;
        background-size: 100% !important;
    }
    .box-text2 {
        width: 200px !important;
        height: 347px !important;
    }
    .price {
        width: 58px !important;
        margin-right: 69px !important;
    }
    .quantity {
        width: 70px !important;
    }
    .bottom-box .text-italic {
        font-size: 1.6rem !important;
        line-height: 24px !important;
        width: 200px !important;
    }
    .inside-item img, .inside-item2 img, .inside-item3 img {
        width: 19% !important;
    }
    .left-text-box h2 {
        margin-bottom: 10px !important;
    }
    .left-text-box div {
        font-size: 1.4rem !important;
        line-height: 20px !important;
    }
    .order-bg {
        background-size: 90% !important;
    }
}