@import url(reset.css);
@import url(media.css);
@import url(two.css);
@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothicBold.eot');
    src: url('../fonts/CenturyGothicBold.eot') format('embedded-opentype'),
    url('../fonts/CenturyGothicBold.woff2') format('woff2'),
    url('../fonts/CenturyGothicBold.woff') format('woff'),
    url('../fonts/CenturyGothicBold.ttf') format('truetype'),
    url('../fonts/CenturyGothicBold.svg#CenturyGothicBold') format('svg');
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype'),
    url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
}

body {
    overflow: hidden;
    font-family: 'CenturyGothic', sans-serif;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    background: #fff;
    min-width: 1024px;
}
html {
    height:100%
}
.mbYTP_wrapper {
    z-index: -2 !important;
    min-height: 135% !important;
    margin: -175px 0px 0px -200px !important;
    min-width: 135% !important;
}
/*=============================================================================================================================*/
/*=============================================================================================================================*/
/*=============================================================================================================================*/
.relative{
    position: relative;
}
.link{
    position: fixed;
    right: 0px;
    top: 0px;
    border: none;
}
.index{
    background: url('../img/main1.jpg') center center fixed;
    background-size: 120%;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.one {
    background: url("../img/main2.jpg") center center fixed;
    background-size: 135%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
.one:after{
    content: '';
    box-shadow: inset 0 -110px 20px -50px rgba(0,0,0,0.9);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    height: 239px;
}
.one .close-animatedModal{
    top: -253px;
    background-size: 100%;
}
.flip-control{
    position: static !important;
}
/*=============================================================================================================================*/
/*=============================================================================================================================*/
/*=============================================================================================================================*/
.big-text{
    font-family: 'CenturyGothicBold', sans-serif;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 88%;
    height: 380px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.big-text h1{
    font-size: 8.5rem;
    line-height: 154px;
    letter-spacing: -4px;
}
.big-text h2{
    font-size: 2.4rem;
    margin-top: 23px;
}
.big-text-bg{
  background: url("../img/big-text-bg.png")no-repeat;
  width: 777px;
  height: 254px;
  padding: 106px 0;
  font-size: 5.2rem;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 101px auto;
  background-size: 100%;
}
.clear-btn {
    width: 248px;
    height: 85px;
    display: block;
    background: url('../img/clear-btn.png') 0 0 no-repeat;
    line-height: 85px;
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin: auto;
    border: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
}
.next-pg{
    background: url('../img/3.png')no-repeat;
    width: 123px;
    height: 131px;
    background-size: 100%;
    display: block;
    border: none;
    position: fixed;
    right: 0;
    top: 0;
}
/*=============================================================================================================================*/
/*=============================================================================================================================*/
/*=============================================================================================================================*/
.bottom-nav{
    position: fixed;
    bottom: 36px;
    left: 0;
    right: 0;
    width: 1250px;
    overflow: hidden;
    margin: 0 auto;
}
.bottom-nav li{
    float: left;
}
.menu-btn{
    color: white;
    display: block;
    text-align: center;
    width: 250px;
    height: 139px;
    text-decoration: none;
    position: relative;
    padding: 81px 0 0px;
    box-sizing: border-box;
    font-size: 1.8rem;
    overflow: hidden;
}
.menu-btn span{
    position: relative;
    z-index: 20;
}
.menu-hover{
    background: url("../img/small-text-bg.png")no-repeat center;
    width: 250px;
    height: 139px;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    left: -250px;
    z-index: -1;
    line-height: 86px;
    display: block;
    background-size: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.bottom-nav li:nth-child(1):hover ~ .menu-hover {
    left: 0;
}
.bottom-nav li:nth-child(2):hover ~ .menu-hover {
    left: 250px;
}
.bottom-nav li:nth-child(3):hover ~ .menu-hover {
    left: 500px;
}
.bottom-nav li:nth-child(4):hover ~ .menu-hover {
    left: 750px;
}
.bottom-nav li:nth-child(5):hover ~ .menu-hover {
    left: 1000px;
}
/*=============================================================================================================================*/
/*=============================================================================================================================*/
/*=============================================================================================================================*/
#main .page{
    background-color:#ccc;
    overflow:hidden;
}
.page.p-temporal{
    border-top-left-radius: 77px;
    cursor: pointer !important;
    pointer-events: auto;
}
/*=============================================================================================================================*/
/*=============================================================================================================================*/
/*=============================================================================================================================*/
.left-box-inside{
    width: 90%;
    height: 90%;
    margin: 5% 5%;
    border: 1px solid #cacaca;
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    color: black;
}
.inside-item, .inside-item2, .inside-item3{
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    margin: 0 auto;
}
.inside-item2{
    top: 38%;
}
.inside-item3{
    top: inherit;
    bottom: 60px;
}
.inside-item img, .inside-item2 img, .inside-item3 img{
    float: left;
}
.left-text-box{
    width: 70%;
    float: right;
    border-bottom: 1px solid #cacaca;
    text-align: left;
    padding-bottom: 35px;
}
.left-text-box h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.left-text-box div{
    font-size: 1.6rem;
    line-height: 25px;
}
.no-border-b{
    border-bottom: none;
}


