.fl{
    float: left;
}
.fr{
    float: right;
}
.font-h3{
    font-size: 3.3rem;
}
.text-center{
    text-align: center;
}
.text-italic{
    font-style: italic;
}
.box-text, .box-text2{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 480px;
    margin: auto;
    display: block;
    position: absolute;
}
.box-text{
    width: 375px;
    height: 350px;
}
.bottom-box, .bottom-box2{
    position: absolute;
    bottom: 0;
}
.bottom-box{
    margin: 0 auto;
    right: 0;
    left: 0;
}
.bottom-box2{
    width: 131px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.bottom-box2 div a{
    margin: 23px auto 0;
}
.bottom-box2 .to-Watch{
    width: 142px;
    margin: 0;
}
.box-text .bottom-box h4{
    line-height: 28px;
    margin-bottom: 15px;
    font-size: 29px;
}
.to-Watch, .to-Read, .to-Order{
    font-size: 2rem;
}
.bottom-box2 div{
    float: none;
    margin: 0 auto;
}
.watch-link{
    background: url("../img/to-watch.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.read-link{
    background: url("../img/to-read.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
    position: relative;
    z-index: 22222222222;
}
.order-link{
    background: url("../img/to-order.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.meet-link{
    background: url("../img/to-meet.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.acquaint-link{
    background: url("../img/to-acquaint-link.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.check-link{
    background: url("../img/to-check.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.join-link{
    background: url("../img/to-check.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.menu-link{
    background: url("../img/menu-btn.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.home-link{
    background: url("../img/home.png")no-repeat center;
    width: 131px;
    height: 97px;
    display: block;
    margin: 23px auto 0;
}
.first-box-ul li{
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 8px;
    font-weight: bold;
}
.bottom-box .text-italic{
    text-align: center;
    font-size: 2rem;
    width: 270px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 29px;
}
.right-box-bg{
    height: 100%;
    background: url("../img/right-box-bg.jpg")no-repeat center center, #000;
    background-size: 150%;
}
.right-box-bg .box-text2 .text-center{
    margin-bottom: 50px;
}
.menu-link-first{
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0;
}
/*=======================================================================================================================*/
/*=======================================================================================================================*/
/*=======================================================================================================================*/
.left-box{
    width: 75%;
    height: 100vh;
    float: left;
    background: #fff;
    position: relative;
}
.right-box{
    width: 25%;
    height: 100vh;
    float: right;
    position: relative;
    color: white;
}
.right-box .box-text{
    height: 100px;
}
.close-animatedModal, .close-animatedModal-2{
    background: url("../img/logo.png")no-repeat center;
    width: 181px;
    height: 181px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 44px;
    z-index: 3;
    background-size: 100%;
}
.close-animatedModal-2 {
    width: 105px;
    height: 105px;
    background-size: 100%;
    right: 10px;
    top: 10px;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    margin: auto;
}
/*=======================================================================================================================*/
/*=======================================================================================================================*/
/*=======================================================================================================================*/
.order-bg{
    background: url("../img/order-bg.png")no-repeat center center, #FFF;
    background-size: 75%;
}
.left-box ul{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    margin: 0 auto 50px;
}
.left-box ul li{
    float: left;
    width: 33%;
    list-style: circle;
    color: #000;
}
.middle-box{
    margin-top: 40px;
    font-size: 1.4rem;
    overflow: hidden;
    margin-bottom: 40px;
}
.price{
    width: 100px;
    float: left;
    margin-right: 80px;
    line-height: 40px;
}
.price span{
    font-size: 2.5rem;
}
.quantity{
    width: 100px;
    float: left;
    line-height: 40px;
}
/*=======================================================================================================================*/
/*=======================================================================================================================*/
/*=======================================================================================================================*/
.content::after, .content::before, .clear{
    clear: both;
}
.pattern{
    background: url('../img/big-bg.jpg') center center fixed, #000;
    background-size: 140%;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
}
.gradient{
    -webkit-filter: none;
    filter: none;
    background-color: rgb(28,28,28); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWMxYzFjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(28,28,28,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-linear-gradient(315deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg,  rgba(28,28,28,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.block{
    position: relative;
    z-index: 0;
    width: 25%;
    height: 100vh;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    float: left;
    color: white;
    -webkit-transition: .5s;
    transition: .5s;
}
.block:after{
    content: '';
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: none;
    filter: none;
    background-color: rgb(28,28,28); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWMxYzFjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(28,28,28,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-linear-gradient(315deg, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg,  rgba(28,28,28,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    -webkit-transition: 1s;
    transition: 1s;
}
.block:not(:nth-child(2)):hover:after{
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

#inside-box1, #inside-box2, #inside-box3, #inside-box4, #inside-box5, #inside-box6, #inside-box7, #inside-box8{
    text-align: center;
    display: none;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 0%;
    z-index: -2;
}
.active{
    display: block !important;
    z-index: 2 !important;
    width: 100% !important;
}
.width0{
    width: 0%;
}
/*=======================================================================================================================*/
/*=======================================================================================================================*/
/*=======================================================================================================================*/
.playerBox{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.pattern{
    background: url("../img/main2.jpg") center center fixed;
    background-size: 135%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
}
/*=======================================================================================================================*/
/*=======================================================================================================================*/
/*=======================================================================================================================*/
.quantity input{
    width: 45px;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    display: block;
    background: none;
    color: #ffffff;
    margin: 0 auto;
}